config/lazygit/state.yml
keyboard/kmonad/.erasedFiles/a
keyboard/kmonad/.erasedFiles/adsf
keyboard/kmonad/.erasedFiles/sfkjsadlf
keyboard/kmonad/.erasedFiles/super
keyboard/qmk/colemak/keymap.c.html
keyboard/kmonad/.erasedFiles/test.swift
